.cardContainer {
  display: flex;
  margin-bottom: auto;
}

.detailSection, .sizePressure, .machineModels, .peculiarities {
  margin-right: 20px; 
}

.detail, .size, .pressure, .fitting {
  margin-bottom: 20px;
}

.modelList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.commonDetails {
  margin-left: auto;
}

.сontainer {
  display: flex;
  margin-top: 10px;
}

.сontainerPrice {
  margin-left: auto;
}