/* WireCard.module.css */
.card {
  position: relative;
  width: 250px;
  height: 480px;
  border: none;
  box-shadow: 0 2px 7px #dfdfdf;
  border: 1px solid #dad8d8;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.cardName {
  color: #363636;
  margin-bottom: 10px;
}

.card img {
  max-width: 100%;
  max-height: 125px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.priceAndButtonContainer {
  display: flex;
  align-items: center;
  margin-top: auto;
  height: 30px;
}

.buttonQuantityContainer {
  margin-right: 3px;
  margin-bottom: 2px;
}

.originalPrice {
  font-size: 12px;
  text-decoration: line-through;
  color: #999;
  order: 1; 
}


.buttonBuyContainer {
  margin-left: auto;
}

.discountedPrice {
  font-size: 18px;
  font-weight: bold;
  color: #f00;
  order: 2;
  margin-bottom: 10px;
}

.buttonContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.cardContent {
  padding: 10px;
  background: #e8e8e8;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceContainer {
  display: flex;  
  flex-direction: column;
  align-items: flex-start;
}

.button {
  background-color: #e7e7e7;
  border: 1px solid #d4d4d4;
  color: #333;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d4d4d4;
}

.selectedButton {
  padding: 5px 10px;
  margin: 2px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #367c39;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  margin: 0 auto;
}

.button, .selectedButton {
  width: calc(33.333% - 20px);
}

.selectionContainer {
  margin-bottom: 10px;
}

.textButtonUp {
  margin-bottom: 5px;
  margin-top: 5px;
}